<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

<h1>Temperatura: </h1> <h1 id='temperature'></h1>
<table style="width:100%" id="myTable">
    <thead>
        <tr>
          <th>Grados</th>
        </tr>
      </thead>
    <tbody>
     
    </tbody>
  
  </table>

<button id='relay1_server' onClick="led('/relay1')" >Relay 1 </button>

<button id='relay2_server' onClick="led('/relay2')">Relay 2</button>

<button id='relay3_server' onClick="led('/relay3')">Relay 3</button>

<button id='relay4_server' onClick="led('/relay4')">Relay 4</button>

<button id='relayoff_server' onClick="led('/off')">Apagar todo</button>

<br>
<hr>
<h4>Brillo Buttons</h4>

<h5>Luces 1</h5>
<button id="up1" onClick="updown('brillo','12')">UP</button>
<button id="down1" onClick="updown('brillo','7')">DOWN</button>

<h5>Luces 2</h5>
<button id="up2" onClick="updown('brillo','13')">UP</button>
<button id="down2" onClick="updown('brillo','8')">DOWN</button>

<h5>Luces 3</h5>
<button id="up3" onClick="updown('brillo','14')">UP</button>
<button id="down3" onClick="updown('brillo','9')">DOWN</button>


<!--<input type="text" id='code' name="code" />

<button id='bcodigo' onClick="sendCode()" >Enviar codigo</button> -->

<script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    //const ip = 'http://165.232.134.172';
    const ip = 'http://192.168.15.4:5000';
    var socket = io(ip);
    
    socket.on('connect', function() {
     


        socket.on('disable', (...args) => {
            console.log(args[0]);
            let button = document.getElementById("led");
            button.disabled = args[0]
            
        });

      
        //socket.emit('message', {data: 'I\'m connected!'});
    });


    socket.on('mqtt_message', (...args) => {
            console.log('Message', args);
            console.log('Topic', args[0]['topic']);
            if(args[0]['topic'] == "temperature")
            {
              console.log('Tempi');
       
            }
            else{
              console.log('relay')
              let btn = document.getElementById(topic);
               btn.style.backgroundColor = (args[0]['payload'] == 'false')?"red":"green";
            }
        


            
    
            
    });

    function led(publish){
            
	    			 //Tell the server this button was clicked and send the client id along with the message
                 //let obj =  {topic: '/led', payload: true};
			    	 socket.emit('publish', {topic: publish, payload: true});
	         }


      function updown(publish, payload){
      
      //Tell the server this button was clicked and send the client id along with the message
          //let obj =  {topic: '/led', payload: true};
        socket.emit('publish', {topic: publish, payload: payload});
    }

             
    function sendCode(){
            
            //Tell the server this button was clicked and send the client id along with the message
        //let obj =  {topic: '/led', payload: true};
        let code = document.getElementById('code').value;        
        socket.emit('verify', code);
    }
</script>
</body>
</html>

